/* index css */
/* 북극곰 후원 안내============================================================== */
#wrap {}
#wrap .intro {
    height: 100vh;
    background: url(../images/bg1.png) no-repeat center;
    background-size: cover;
    margin: 0 auto;
}
#wrap .intro .container {}
#wrap .intro .container h1 {}
#wrap .intro .container h1:first-of-type {}
#wrap .intro .container h1:first-of-type a {}
#wrap .intro .container h1:first-of-type a img {
    width: 89px;
}
#wrap .intro .container h1:last-of-type {}
#wrap .intro .container h1:last-of-type em {}
#wrap .intro .container .sponsor_btn {}
#wrap .intro .container .sponsor_question {}
/* 퀴즈============================================================== */
/* 동영상============================================================== */
/* 새끼 북극곰 이야기============================================================== */
/* 빙하 면적 감소============================================================== */
/* 인류 재앙============================================================== */
/* 지구 위기============================================================== */
/* WWF 홍보============================================================== */
/* 다양한 활동============================================================== */
/* 감사 선물============================================================== */
/* 결제 안내 사항============================================================== */